@import '../variables.css';

.addsong {
  display: flex;
  
}
select {
  /* -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none; */
}
.listDropdown {
  width: 100px;
  height: 50px;
  text-align: center;
  outline-style: none;
  border-radius: 15px;
}
.addsong select.listDropdown {
  color: #8e44ad;
  outline-style: none;
  border: 3px solid ;
  border-radius: 15px;
}
.addsong > select.listDropdown:hover {
  transform: scale(1.2);
}
.search-aaddlistbtn {
  background-color: #FBFBFB;
  margin-left: 20px;
  color: #8e44ad;
  outline-style: none;
  border: 3px solid ;
  border-radius: 15px;
}
.search-aaddlistbtn:hover {
  transform: scale(1.2);
}

.dropdown {
  width: 220px;
  outline: none;
}