@import '../variables.css';

.addsong {
  display: flex;
  
}
.listDropdown {
  width: 100px;
  height: 50px;
  text-align: center;
  outline-style: none;
  border-radius: 15px;
}

.search-aaddlistbtn {
  height: 35px;
  cursor: pointer;
  font-size: var(--font-small);
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 30px;
  background-color: var(--header-border-color);
  box-shadow:
  0 0px 3px var(--header-border-color),
  -3px 0 6px  var(--header-border-color),
  3px 0 6px var(--header-border-color),
  inset 0 0 6px var(--header-border-color),
  inset 6px 0 6px  var(--header-border-color),
  inset -6px 0 6px var(--header-border-color),
  inset 6px 0 15px  var(--header-border-color),
  inset -6px 0 15px var(--header-border-color);
  transition: all 500ms ease-in-out;
}
.search-aaddlistbtn:hover {
  background: #9382E2;
  box-shadow:
  0 0 6px #9382E2,
  6px 0 12px  #9382E2,
  -6px 0 12px #9382E2,
  inset 0 0 12px #9382E2,
  inset -12px 0 12px  #9382E2,
  inset 12px 0 12px #9382E2,
  inset -12px 0 30px #9382E2,
  inset 12px 0 30px #9382E2;
  transition: all 500ms ease-in-out;
}

.search-dropdown {
  display: flex;
  width: 200px; 
  padding: .5em .5em;
  font-family: inherit;  
  background: url('../res/arrow-down.png') no-repeat 95% 50%;
  border: 1px solid #999;
  border-radius: 5px; 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


.search-dropdown:hover{
  border-color: #aea1ea;
  box-shadow: 0 2px 3px rgba(191, 185, 210, 0.1) inset;
}

.search-dropdown:focus {
  box-shadow: 0 0 1px 2px rgba(191, 185, 210, 0.7);
  outline: none;
}

.search-dropdown option {
  zoom : 1.3; 
  background-color: #fff;
}