.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  border-bottom: 5px solid var(--header-border-color);
  background-color: var(--background-color);
}

button:focus {
  outline:none;
}

.header-logo {
margin-top: 10px;
margin-bottom: 10px;
max-height: 80px;
margin-left: 2.5%;
}

.radio-button {
display: flex;
justify-content: space-between;
padding: 10px 10px;
}

.radio-button > div {
  margin: auto 2px;
}

input[type="radio"] {
  display: none;
}

.tooltip-container {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  width: max-content;
}

.tooltip-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

.tooltip-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.tooltip-container input:checked ~ .checkmark {
  background-color: #d06cc0;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.tooltip-container input:checked ~ .checkmark:after {
  display: block;
}

.title {
  padding-left: 5px;
}

.header-search-bar {
display: flex;
flex: 1;
align-items: center;
min-width: 25%;
max-width: fit-content;
padding: 10px;
min-height: 30px;
}

.header-search-bar > input {
flex: 1;
border:none;
padding:10px;
outline: none;
border: none;
border: 1px solid var(--search-bar-border-color);
border-radius: 100px;
width: 400px;
min-width: 21%;
margin-right: 8px;
}

.header-search-bar > input::placeholder {
  text-align: center;
  font-size: 90%;
}

.header-search-bar > button {
  height: 30px;
  margin-right: 4px;
}

.header-nav {
display:flex;
align-items: center;
justify-content: space-between;
min-width: 8vw;
margin-right: 2.5%;
height: 100%;
}

.header-search-bar-btns {
  display: flex;
  justify-content: row;
}

.header-search-bar-btns > button {
  display: flex;
  justify-content: row;
  height: 32px;
  width: 32px;
  background-size: 100%;
  cursor: pointer;
  border:none;
}

.submit-button {
  background: url('../res/search.png') no-repeat;
}

.filter-button {
  background: url('../res/filter.png') no-repeat;
  position: relative;
  margin-right: 0px;
  }

  .filter-button:hover .filter-tooltip {
    visibility: visible;
  }

  .filter-button .filter-tooltip {
    visibility: hidden;
    border-radius: 6px;
    padding: 10px;
    background-color: var(--tooltip-color);

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 130%;
    left: -10%;
    margin-left: -60px;
  }

  .filter-button .filter-tooltip::after {
    content: " ";
			position: absolute;
			top: -32%;
			left: 50%;
			margin-left: -10px;
			border-width: 10px;
			border-style: solid;
			border-color: transparent transparent var(--tooltip-color) transparent;
  }

a{
  font-size: 1.2rem;
  text-decoration:none;
  color: #5e5e5e;
  cursor: pointer;
  background-color: Transparent;
  font-weight:bold;
}

a.nav-link:hover {
  color: var(--header-border-color);
}

.nav-container{
  display:flex;
  height: 100%;
  align-items: center;
}

.logout-button {
margin-left: 5px;
margin-right: 10px;
width: 32px;
height: 32px;
background: url('../res/exit.png') no-repeat;
background-size: 100%;
cursor: pointer;
border:none;
padding: 1;
} 