* {
  font-family: 'Noto Sans KR', sans-serif;
}

.login-box {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  border: 1px solid #000000;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 50px 80px 50px -30px #383838 
}

.login-title {
  font-size: 32px;
  margin-bottom: 20px;
}

.login-email,
.login-password {
  font-size: 24px;
  border-radius: 20px;
  border-color: #000000;
  border: 2px solid #000000;
  padding: 10px;
  outline: none;
}

.login-email {
  margin-bottom: 10px;
}

.login-password {
  margin-bottom: 50px;
}

.login-items {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  justify-content: space-between;
}

.login-input {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.login-btns {
  display: flex;
  flex-direction: column;
}

.login-signin,
.login-signup {
  margin-bottom: 10px;
  font-size: 20px;
  padding: 10px;
  background-color: #ffffff;
  outline: none;
  border: 2px solid #000000;
  border-radius: 10px;
  font-weight: 500;
}

.login-signin:hover,
.login-signup:hover {
  background-color: #535353;
  color: #ffffff;
  transition: background-color 0.5s, color 0.5s;
}

.login-signin:active,
.login-signup:active {
  background-color: #000000;
  transition: background-color 0s;
}

.login-github {
  font-size: 20px;
  background-color: #000000;
  padding: 10px;
  outline: none;
  border: 2px solid #000000;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 500;
}