.mylist-plusbtn {
  width: 35px;
  height: 35px;
  outline: none;
  padding: 5px;
  background-color: var(--header-border-color);
  border-radius: 5px;
}

.mylist-minusbtn {
  width: 35px;
  height: 35px;
  outline: none;
  padding: 5px;
  background-color: var(--nav-point-color);
  border-radius: 5px;
}