* {
  font-family: 'Noto Sans KR', sans-serif;
}
.signup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 500px;
  border: 1px solid #000000;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 50px 80px 50px -30px #383838 
}
.signup-email {
  font-size: 24px;
  border-radius: 20px;
  border-color: #000000;
  border: 2px solid #000000;
  padding: 10px;
  outline: none;
  margin-top: 20px;
}
.signup-username {
  font-size: 24px;
  border-radius: 20px;
  border-color: #000000;
  border: 2px solid #000000;
  padding: 10px;
  outline: none;
}
.login-password {
  font-size: 24px;
  border-radius: 20px;
  border-color: #000000;
  border: 2px solid #000000;
  padding: 10px;
  outline: none;
}
.signup-button {
  font-size: 24px;
  border-radius: 20px;
  border-color: #000000;
  border: 2px solid #000000;
  padding: 10px;
  outline: none;
  margin-bottom: 70px;
}
.signup-button:hover {
  background-color: #535353;
  color: #ffffff;
  transition: background-color 0.5s, color 0.5s;
}
.signup-button:active {
  background-color: #000000;
  transition: background-color 0s;
}