.userinfo-rightbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
}

.userinfo-songsbox {
  height: 100vh;
}

.info-background {
  background-color: #fff;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.userinfo-removebox {
  position: sticky;
  bottom: 0px;
  background-color: #fff;
}
