.body {
  width: 100%;
}
.header {
  height: 80px;
}
.search-box {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
}
.songdata {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    border-bottom: #8e44ad 1px solid;
    padding: 0.5%;
    align-items: center;
    text-align: center;
    color: #646464;
}
.songNum {
  width: 1%;
}
.title {
  width: 50%;
  text-align: center;
  
}
.singer {
  width: 30%;
  text-align: center;
  
}
.checkbox {
  width: 20px;
  height: 20px;
}
.search-btnbox {
  display: flex;
  margin-top: 20px;
  justify-content:center;
}
.link-image {
  width: 20px;
  height: 20px;
}