.songlist-songsbox {
  height: 100vh;
}

.songlist-background {
  background-color: #fff;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.songlist-removebox {
  position: sticky;
  bottom: 0px;
  background-color: #fff;
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
}

.songlist-selectsong {
  flex: 4 0 0;
  text-align: right;
  margin: 20px;
  font-size: var(--font-large);
}

.songlist-selectsong {
  color: var(--nav-point-color);
}

.songlist-songs {
  color: var(--header-border-color);
}

.songlist-removesongbtn {
  flex: 1;
  height: 35px;
  margin-right: 10px;
  cursor: pointer;
  font-size: var(--font-small);
  color: #fff;
  border: none;
  border-radius: 5px;
  background: #e07298;
  box-shadow:
  0 0px 3px #e07298,
  -3px 0 6px  #e07298,
  3px 0 6px #e07298,
  inset 0 0 6px #e07298,
  inset 6px 0 6px  #e07298,
  inset -6px 0 6px #e07298,
  inset 6px 0 15px  #e07298,
  inset -6px 0 15px #e07298;
  transition: all 500ms ease-in-out;
}

.songlist-removesongbtn:hover {
  background: var(--nav-point-color);
  box-shadow:
  0 0 6px var(--nav-point-color),
  6px 0 12px  var(--nav-point-color),
  -6px 0 12px var(--nav-point-color),
  inset 0 0 12px var(--nav-point-color),
  inset -12px 0 12px  var(--nav-point-color),
  inset 12px 0 12px var(--nav-point-color),
  inset -12px 0 30px var(--nav-point-color),
  inset 12px 0 30px var(--nav-point-color);
  transition: all 500ms ease-in-out;
}