.body {
  width: 100%;
}
.header {
  height: 80px;
}
.search-box {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
}
.songdata {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: #8e44ad 1px solid;
    padding: 0.5%;
    align-items: center;
    text-align: center;
    color: #646464;
}
.songdata:hover {
  text-shadow: 0 0 .1em, 0 0 .3em;
  color:white;
  /* background: linear-gradient(to right, gold 0%, aqua 50%, pink 100%); */
  background: linear-gradient(to right, rgb(229, 151, 240) 0%, #e8447d 50%, #8e44ad 100%);
  transition: background-color 0.5s, color 0.5s;
  border-radius:10px;
}

.songNum {
  width: 5%;
}
.title {
  width: 45%;
  text-align: center;
  
}
.singer {
  width: 20%;
  text-align: center;
}

.mediabox {
  position: relative;
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link { 
  display: flex;
  align-items: center;
}

.link-image {
  width: 32px;
  height: 22.5px;
}


label {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 25px;
}

.checkInput {
  display: none;
}

.customCheckBox {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px solid #9382E2;
  border-radius: 5px;
  background-color: #eeeeee;
}

.customCheckBox:hover {
  background-color: #cccccc;
}

.checkInput:checked ~ .customCheckBox {
  background-color: #D66CC0;
}