.body {
  width: 100%;
}
.header {
  height: 80px;
}
.search-box {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
}
.songdata {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: #8e44ad 1px solid;
    padding: 0.5%;
    align-items: center;
    text-align: center;
    color: #646464;
}
.songNum {
  width: 5%;
}
.title {
  width: 45%;
  text-align: center;
  
}
.singer {
  width: 20%;
  text-align: center;
}

.mediabox {
  position: relative;
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.checkbox {
  margin: 0px;
  margin-right: 20px;
  width: 25px;
  height: 25px;
}

.link { 
  display: flex;
  align-items: center;
}

.link-image {
  width: 32px;
  height: 22.5px;
}