
.userinfo-box {
  width: 100%;
  text-align: center;
}

.userinfo-rightbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
}
.userinfo-username {
  width: 100%;
  font-size: var(--font-large);
  color: var(--menu-color);
}
.userinfo-email {
  width: 100%;
  margin-top: 10px;
  font-size: var(--font-small);
  color: #85838b;
}
.userinfo-createdAt {
  width: 100%;
  margin-top: 10px;
  font-size: var(--font-small);
  color: #85838b;

}
