
.userinfo-box {
  width: 25%;
}

.userinfo-rightbox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.userinfo-removebox {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 40px;
}

.userinfo-removesong {
  width: 80px;
  height: 50px;
}

.userinfo-songbar {
  display: flex;
}