.mypage {
  position: absolute;
  left: 0;
  top: 110px;
  height: calc(100vh - 110px);
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  border: 1px solid #000000;
  border-style:none;
}
.mypage-left {
  flex: 1;
  justify-content: center;
}
.mypage-right {
  flex: 3.5;
  overflow: auto;
}
.mypage-userinfo {
  width: 100%;
}
.mypage-mylist {
  display: flex;
  width: 100%;
  margin-top: 50px;
  justify-content: center;
}
.mypage-songlist {
  width: 100%;
}