.search-box {
  position: absolute;
  left: 0;
  top: 80px;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  border: 1px solid #000000;
  border-style:none;
}
.info {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  border-radius:20px;
  background: linear-gradient(to right, var(--header-border-color) 0%, #9382e2 100%);
  color: #fff;
  font-size: 18px;
}

.info > div {
  color: #fff
}

.info-num {
  width: 5%;
  text-align: center;
}

.info-title {
  width: 45%;
  text-align: center;
}

.info-singer {
  width: 20%;
  text-align: center;
}

.info-mediabox {
  display: flex;
  width: 10%;
  justify-content: space-around;
}

.info-checkbox {
  margin-right: 15px;
}
.songs {
  flex: 5;
}
.addsong-dropdown {
  display: flex;
  flex: 2;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
.info-dropdown {
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.search-btnbox {
  flex: 1.2;
}

.search-previusbtn {
  height: 40px;;
  outline: none;
  border:none;
  border-radius: 10px;
  margin-right: 10px;
  background-color: var(--header-border-color);
}
.search-nextbtn {
  height: 40px;;
  outline: none;
  border:none;
  border-radius: 10px;
  margin-left: 10px;
  background-color: var(--header-border-color);
}
.search-previusbtn:hover {
  transform: scale(1.2);
  background-color:#e8447d;
  transition: background-color 0.5s, color 0.5s;
}
.search-previusbtn:active {
  background-color: #8e44ad;
}
.search-nextbtn:hover {
  transform: scale(1.2);
  background-color:#e8447d;
  transition: background-color 0.5s, color 0.5s;
}
.search-nextbtn:active {
  background-color: #8e44ad;
}
.page-button {
  color: #fff;
}
