:root {
  --font-small: 18px;
  --font-mid: 24px;
  --font-large: 32px;
  --item-border: 1px solid #23202f;
  --radius-small: 10px;
  --radius-mid: 20px;
  --shadow: 50px 80px 50px -30px #383838 ;
  --main-color: #ffffff;
  --red: #e34d68;
  --withe-red: #ffe4e8;
  --blue: #227aba;
  --withe-blue: #82a6c0;
  --grean: #16b28b;
  --withe-grean: #81b3a6;
  --yellow: #fabc1f;
  --withe-yellow: #ffe9b1;

  --background-color: #fbfbfb;
  --header-border-color: #aea1ea;
  --search-bar-border-color: #cecece;
  --tooltip-color: #e4e0f8;
  --menu-color: #5e5e5e;
  --nav-point-color: #e8447d;
}